<h1>実況設定</h1>


<%= form_tag("/watch/create",:method => :post) do %>

    <%= label_tag("ハッシュタグ") %>
    <br>
    <%= text_field_tag :hash_tag %>
    <br><br>
    <%= label_tag("番組開始時刻") %>
    <br>
    <%= time_select("article","start_time") %>
    <br><br>
    <%= label_tag("番組終了時刻") %>
    <br>
    <%= time_select("article","end_time") %>
    <br><br>
    <%= submit_tag("実況開始") %>

<% end %>